* {
    padding:0;
    margin:0;
}

#contenedor {
    padding: 10px;
}

#contenedor .invitado {
    padding: 10px;
}

#contenedor .invitado .info:after{
    content: '';
    display: block;
    clear: both;
}

#contenedor .invitado .foto {
    float: left;
    width: 150px;
}

#contenedor .invitado .info {
    margin-left: 180px;
}

#contenedor .invitado .titulo {
    font-weight: bold;
}
